@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* dark theme variables */
  --primary-color: #e6ad3c;
  --secondary-color: #1e1e1e;
  --tertiary-color: white;
  --background-color: black;
}
/* Light Theme Variables */
.light{
  /* light theme variables */
  --primary-color: #1E1E1E;
  --secondary-color: #E6AD3C;
  --tertiary-color:black;
  --background-color: white;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.navbar {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5em;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
  position: fixed; /* Makes the navbar fixed on the top */
  top: 0; /* Ensures it stays at the top */
  width: 100%; /* Stretches the navbar across the width */
  z-index: 2;
  /* flex-wrap: wrap; */

  /* z-index: 2; */
}

.navbar .name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color);
  padding-left: 2em;
}
.navbar .list {
  
  padding-right: 2em;
}

.navbar .list a {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--tertiary-color);
  padding: 1em;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for both transform and color */
  position: relative; /* Ensure proper positioning for z-index */
}

.navbar .list a:hover {
  color: var(--primary-color); /* Change text color on hover */
  cursor: pointer;
  transform: scale(2) translateY(-5px); /* Grow and move up */
  z-index: 2; /* Ensure the hovered item appears on top */
}
.navbar .list i {
  font-size: 1.5rem;
  color: var(--tertiary-color);
  margin-left: 1em;
  margin-right: 1em;
}
.navbar .list i:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger i{
  font-size: 2rem;
  color: var(--tertiary-color);
  margin-right: 1em;
}

/* Css for Home Section */

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  
  
}

.home .tagline{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.home .tagline h1{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1em;
  color: var(--primary-color);
}
.home .tagline .dynamictext{
  font-size: 1.5rem;
  font-weight: 150;
  margin-bottom: 1em;
  color: var(--tertiary-color);
}
.home .tagline span{
  font-size: 3rem;
  font-weight: 600;
  color: var(--tertiary-color);
}
.home .tagline .dynamictext ul li
{
  /* overflow: hidden; */
  /* list-style: none; */
  font-size: 1.5rem;
  font-weight: 150;
  margin-bottom: 1em;
  color: var(--tertiary-color);
}
.home .tagline .dynamictext ul li span{
  font-size: 1.2em;
  font-weight: 600;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
  /* overflow: hidden; */
}

.home .imagecontainer{
  aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
  height: auto;
  width: 50%; 
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .imagecontainer img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0em 0em 1.4em var(--primary-color); /* Adds a subtle shadow */
  transition: .3s ease-in-out; /* Smooth transition */
}

.home .imagecontainer img:hover{
  transform: scale(1.1);
  box-shadow: 0em 0em 2.8em var(--primary-color); /* Adds a subtle shadow */
  cursor:help;
  
}

.home .tagline .socialcontainer a{
  text-decoration: none;
  padding: 1em;
}

.home .tagline .socialcontainer a i{
  font-size: 1.2rem;
  color: var(--primary-color);
  padding: 1em;
  transition: 0.5s ease-in-out;
  /* box-sizing: content-box; */
  border-radius: 50%;
  box-shadow: 0em 0em 1.4em var(--primary-color); /* Adds a subtle shadow */
}
.home .tagline .socialcontainer a i:hover{
  transform: scale(1.5);
  box-shadow: 0em 0em 0em var(--primary-color); /* Adds a subtle shadow */
  cursor:help;
}
/* About ME Section CSS */
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 4em;
  margin-top: -1em;
  
}

.about .aboutimagecontainer{
  padding-left: 4em;
  aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
  height: auto;
  width: 50%; 
  transition: 0.3s ease-in-out;
  
}



.about .aboutimagecontainer img{
  margin-top: 4em;
  height: 80%;
  width: 50%;
  object-fit: cover;
  border-radius: 2em;
  box-shadow: 0em 0em 1.4em var(--primary-color); /* Adds a subtle shadow */
  transition: .3s ease-in-out; /* Smooth transition */
}

.about .aboutcontent{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .aboutcontent h1{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.about .aboutcontent p{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1em;
  color: var(--tertiary-color);
  
}
/* Education Section */
.education{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}
.education h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.education .educationcontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2em;
  padding: 2em;

}

.education .educationcontainer .box{
  padding: 1em;
  background-color: var(--secondary-color) ;
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  border-color: var(--primary-color);
  border-radius: .5em;
  transition: .3s ease-in-out; /* Smooth transition */
  
}

.education .educationcontainer .box h2{
  font-size: 1.5rem;
  font-weight: 600;
  
  color: var(--tertiary-color);
}
.education .educationcontainer .box span{
  color:var(--tertiary-color);
  font-size: 1rem;

}
.education .educationcontainer .box:hover{
  transform: translateY(-2em);
  box-shadow: 0em 0em 2.8em var(--primary-color); /* Adds a subtle shadow */
  cursor:help;

}

/* Skills CSS */

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}


.skills h1{
  /* transform: translateX(-500%); */
  font-size: 3rem;
  font-weight: 600;
  /* margin-bottom: 1em; */
  /* opacity: 0; */
}
.skills .skills_subtitle{
  /* transform: translate(500%); */
  font-size: 1.5rem;
  font-weight: 300;
  /* margin-bottom: 1em; */
  color: var(--tertiary-color);
  /* opacity: 0; */

}
.skills .skillscontainer{
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2em;
  padding-left: 2em; 
  /* overflow-x: hidden; */
  

}

.skills .skillscontainer .box .boxhead{
  padding: 1em;
  background-color: var(--secondary-color) ;
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  border-color: var(--primary-color);
  border-radius: .5em;
  transition: .3s ease-in-out; /* Smooth transition */
  position: relative;
  display: inline-block;
  width: 80%;
}
.skills .skillscontainer .box .boxhead .title p{
  
  color: var(--tertiary-color);
}
.skills .skillscontainer .box .boxhead:hover{
  transform: translateY(-0.5em);
  box-shadow: 0em 0em 2em var(--primary-color); /* Increase the shadow size and change color for the uplift effect */
}
.skills .skillscontainer .box .skillsbar{
  display: none;
  position: absolute;
}
.skills .skillscontainer .box .clicked {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--secondary-color) ;
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  border-color: var(--primary-color);
  border-radius: .5em;
  transition: .3s ease-in-out; /* Smooth transition */
  position: relative;
  display: block;
  width: 80%;
  
  
}
.skills .skillscontainer .box .clicked .list{
  /* background-color: var(--primary-color) ; */
  box-shadow: 0em 0em 1.4em var(--secondary-color); /* Adds a subtle shadow */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.skills .skillscontainer .box .clicked .list i{
  font-size: 2rem;
  color: var(--tertiary-color);
  padding: .2em;
  transition: 0.5s ease-in-out;
}
.skills .skillscontainer .box .clicked .list i:hover{
  color: var(--primary-color);
  cursor:help;
  transform: translateY(-0.5em);
}


.skills .skillscontainer .box .title{
  display: flex;
  flex-direction: row;
  justify-content: wrap;
  align-items: center;
  gap: 1em;
  font-size: 1.5rem;
}
/* Projects Section */
.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10em;
}
.projects h1{
  /* transform: translateX(-500%); */
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1em;
  /* padding-top: 5em; */
  transition: 1s ease-in-out;
  /* opacity: 0; */
}
.projectscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  gap: 1em; /* Add space between the grid items */
  /* padding:2em; */
  /* transform: translateY(100%); */
  /* opacity: 0; */
}
.projectsbox {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  
  
}
.projectsbox .projectsimage{
  height: 50%;
  width: 75%; 
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out; /* Smooth transition */
  border-radius: 0.5em;
}
.projectsbox .projectsimage:hover {
  transform: translateY(-0.5em);
  box-shadow: 0em 0em 2em var(--primary-color); /* Increase the shadow size and change color for the uplift effect */
}

.projectsimage img {
  
  width: 100%; /* Make the image responsive to the container */
  height: 100%; /* Maintain the aspect ratio */
  object-fit:cover; /* Ensure the image covers the entire container */
  border-radius: 0.5em;
  /* box-shadow: 0em 0em 1.4em var(--primary-color); Adds a subtle shadow */
}

.projectsbox .layer{
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0; /* Hide the layer by default */
  transition: 1s ease-in-out; /* Smooth transition */
}

.projectsbox .layer h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--tertiary-color);
  margin-bottom: 0.5em;
}
.projectsbox .layer i{
  font-size: 1.5rem;
  color: var(--tertiary-color);
  padding: 0.5em;
  transition: 0.5s ease-in-out;
}
.projectsbox .layer i:hover{
  color: var(--primary-color);
  cursor:help;
}
.projectsbox:hover .layer{
  height: 100%;
  opacity: 1; /* Show the layer on hover */
}

/* About ME CSS */
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10em;
}
.contact h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.contact .contactcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  padding-left: 2.5em;
  padding-right: 5em;
}
.contact .contactcontainer .addressholder{
  flex: 1;
}
.contact .contactcontainer .addressholder h3{
  font-size: 1.5rem;
  font-weight: 300;
  /* margin-bottom: 1em; */
}
.contact .contactcontainer .addressholder p{
  font-size: 1rem;
  font-weight: 150;
  /* margin-bottom: 1em; */
  color: var(--tertiary-color);
}
.contact .contactcontainer .addressholder .mailaddress{
  margin-top: 1em;
  
}
.contact .contactcontainer .messageholder{
  flex: 2;
  display: flex;
  
  flex-direction: column;
  gap: 1em;
}
.contact .contactcontainer .messageholder form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.contact .contactcontainer .messageholder input{
  width: 100%;
  padding: 1em;
  border-radius: .5em;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}
.contact .contactcontainer .messageholder form textarea{
  width: 100%;
  padding: 1em;
  border-radius: .5em;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}
.contact .contactcontainer .messageholder form .btn{
  width: 50%;
  padding: 1em;
  border-radius: .5em;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.contact .contactcontainer .messageholder form .btn:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor:help;
}


/* Responsive Design */
@media screen and (max-width: 1024px){
  .navbar .name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
    padding-left: 1em;
  }
  .navbar .list {
    padding-right: 1em;
  }
  .navbar .list a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--tertiary-color);
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for both transform and color */
    position: relative; /* Ensure proper positioning for z-index */
  }
  .navbar .list a:hover {
    color: var(--primary-color); /* Change text color on hover */
    cursor: pointer;
    transform: scale(2) translateY(-5px); /* Grow and move up */
    z-index: 2; /* Ensure the hovered item appears on top */
  }
  .navbar .list i {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    margin-left: 1em;
    margin-right: 1em;
  }
  .navbar .list i:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
  /* Resposive for the Home Section */
  .home{
    padding-top: 2em;
  }
  .home .tagline h1{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1em;
    color: var(--primary-color);
  }
  .home .tagline span{
    font-size: 2rem;
  }
  .home .tagline .dynamictext ul li
  {
    font-size: 1.3rem;
    font-weight: 150;
    margin-bottom: 1em;
    color: var(--tertiary-color);
  }
  .home .tagline .dynamictext ul li span{
    font-size: 1.1em;
    font-weight: 600;
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
  }
  .home .imagecontainer{
    width: 70%;
  }
  .home .tagline .socialcontainer a{
    padding: .8em;
  }
  .home .tagline .socialcontainer a i{
    font-size: 1rem;
    padding: .8em;
  }
  /* Responsive About */
  .about{
    padding-top: 10em
  }
  .about .aboutcontent h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .about .aboutimagecontainer{
    height: 100%;
  }
  .about .aboutimagecontainer img{
    height: 100%;
    width: 70%;
    border-radius: 1em;
  }

}

@media screen and (max-width:768px)
{
  .navbar .name {
    font-size: 2em;
    font-weight: 600;
    color: var(--primary-color);
    padding-left: 1em;
    justify-content: center;
    align-items: center;

  }
  .navbar .list{
    display: none;
  }
  .navbar .hamburger {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .navbar .hamburger i{
    font-size: 3rem;
    color: var(--tertiary-color);
    margin-right: 1em;
  }
  .navbar .list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  /* Home Section CSS Resposive */
  .home .tagline .socialcontainer a{
    padding: .6em;
  }
  .home .tagline .socialcontainer a i{
    font-size: .8rem;
    padding: .6em;
  }
  /* Responsive About */
  .about{
    padding-top: 5em;
  }
  .about .aboutcontent h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .about .aboutcontent p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1em;
    color: var(--tertiary-color);
    
  }
  .about .aboutimagecontainer{
    height: 100%;
  }
  .about .aboutimagecontainer img{
    height: 100%;
    width: 70%;
    border-radius: 1em;
  }
  /* SKill Section Responsive */
  .skills .skillscontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2em;
    padding-left: 2em;
  }

  /* Contact ME Section resposnsive */
  .contact .contactcontainer{
    padding-left: 2.5em;
    padding-right: 5em;
  }

}

@media screen and (max-width: 320px){
  .navbar .name {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primary-color);
    padding-left: 1em;
    justify-content: center;
    align-items: center;
  }
  /* Responsive Home */
  .home{
    /* padding-top: 2.5em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .home .tagline{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home .tagline h1{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1em;
    color: var(--primary-color);
  }
  .home .tagline span{
    font-size: 1.5rem;
  }
  .home .tagline .dynamictext ul li
  {
    font-size: 1rem;
    font-weight: 150;
    margin-bottom: 1em;
    color: var(--tertiary-color);
  }
  .home .imagecontainer{
    margin-top: -2em;
    width: 80%;
    height: 100%;
  }
  .home .imagecontainer img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
  }
  /* Responsive About */
  .about{
    /* padding-top: 20em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;

  }
  .about .aboutimagecontainer{
    height: 100%;
    width: 100%;
    padding-left: 0em;

  }
  .about .aboutimagecontainer img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
    
  }
  .about .aboutcontent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5em;
    
  }
  .about .aboutcontent h1{
    display: none;
  }

  /* Education Responsive */

  
  .education h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1em;
    justify-content: center;
  }

  .education .educationcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 80%;
    

  }
  .education .educationcontainer .box{
    font-size: 1em;
  }
  /* Skills Section Responsive */
  
  .skills .skills_subtitle{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1em;
    color: var(--tertiary-color);
  }
  .skills .skillscontainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2em;
    padding-left: 2em;
  }
  
  /* Projects Section Responsive */

  .projects h1{
    font-size: 2.5rem;
    font-weight: 600;
    /* margin-bottom: 1em; */
    /* padding-top: 5em; */
  }
  .projectscontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Create three equal columns */
    /* gap: 1em; Add space between the grid items */
    /* padding:2em; */
    /* transform: translateY(100%); */
    /* opacity: 0; */
  }
  .projectsbox {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    
    
  }
  .projectsbox .projectsimage{
    height: 50%;
    width: 75%; 
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out; /* Smooth transition */
    border-radius: 0.5em;
  }
  .projectsbox .projectsimage:hover {
    transform: translateY(-0.5em);
    box-shadow: 0em 0em 2em var(--primary-color); /* Increase the shadow size and change color for the uplift effect */
  }

  /* Contact ME section responsive */
  .contact h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .contact .contactcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding-left: 2.5em;
    padding-right: 5em;
  }

  .contact .contactcontainer .messageholder{
    margin-top: 2em;
    flex: 2;
    display: flex;

  }
  .contact .contactcontainer .messageholder form .btn{
    width: 100%;
  }


}